python-dotenv
fastapi
uvicorn
psycopg2
sqlmodel
ipykernel
pandas
matplotlib
pydantic
pydantic-settings
seaborn
langchain
llama-index
qdrant-client
reduct-py
python-multipart
arq
redis
ruff
aiofiles
pypdf2